<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}MUSIKA{% endblock %}</title>

        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Shadows+Into+Light" rel="stylesheet">


        <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />


    </head>
    <body>

        <!-- NAVBAR -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- LOGO & Header-->
                <div class="navbar-header">
                    <!-- Burger button for mobile -->
                    <!-- the data-target will collect all the items in the nav below, and include them into the mobile navbar -->
                    <button type="button" name="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand "href="{% url 'music:index' %}">MUSIKA</a>
                </div>

                <!-- ITEMS in NAVBAR -->
                <div class="collapse navbar-collapse" id="topNavBar"> <!-- Set ID here to whatever data-target you have in button for mobile: mobileNavbar-->
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'music:index' %}"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Albums</a></li>
                        <li class=""><a href="#"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Songs</a></li>
                    </ul>

                    <!-- SEARCH FORM -->
                    <form class="navbar-form navbar-left" role="search" action="#" method="get">
                        <div class="form-group">
                            <input type="text" class="form-control" name="q" value="">
                        </div>
                        <button type="submit" name="search-button" class="btn btn-default">Search</button>
                    </form>
                    <!-- buttons on right -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="{% url 'music:album-add' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Album</a></li>
                        <li class=""><a href="{% url 'music:index' %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp; Logout</a></li>

                    </ul>

                </div>

            </div>
        </nav>

        <!-- add BLOCK for other components you want on ALL pages -->
        {% block body %} <!-- body is the name of the block of code -->

        {% endblock %}

    </body>
</html>
